Introduction To Dataframe

In [1]:
import numpy as numpy
import pandas as pd

In [2]:
df = pd.read_csv("weather_data.csv")
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [15]:
weather_data = [('2024-01-01', 30,6, 'Sunny'),
                ('2024-01-02', 28,5, 'Cloudy'),
                ('2024-01-03', 25,4, 'Rainy'),
                ('2024-01-04', 32,7, 'Sunny'),
                ('2024-01-05', 27,3, 'Windy'),
                ('2024-01-06', 29,4, 'Rainy')
                ]
df = pd.DataFrame(weather_data, columns=['Date', 'Temperature', 'Windspeed', 'Condition'])
print(df)

         Date  Temperature  Windspeed Condition
0  2024-01-01           30          6     Sunny
1  2024-01-02           28          5    Cloudy
2  2024-01-03           25          4     Rainy
3  2024-01-04           32          7     Sunny
4  2024-01-05           27          3     Windy
5  2024-01-06           29          4     Rainy

In [5]:
df.columns

Index(['Date', 'Max_Temp', 'Min_Temp', 'Condition'], dtype='object')

In [7]:
df[3::]

         Date  Max_Temp  Min_Temp Condition
3  2024-01-04        32         7     Sunny
4  2024-01-05        27         3     Windy
5  2024-01-06        29         4     Rainy

In [14]:
df[['Date','Condition']]

         Date Condition
0  2024-01-01     Sunny
1  2024-01-02    Cloudy
2  2024-01-03     Rainy
3  2024-01-04     Sunny
4  2024-01-05     Windy
5  2024-01-06     Rainy

In [16]:
df[['Temperature','Windspeed']]

   Temperature  Windspeed
0           30          6
1           28          5
2           25          4
3           32          7
4           27          3
5           29          4

In [17]:
df.max()

Date           2024-01-06
Temperature            32
Windspeed               7
Condition           Windy
dtype: object

In [19]:
df['Temperature'].mean()

np.float64(28.5)

In [20]:
df['Temperature'].describe()

count     6.000000
mean     28.500000
std       2.428992
min      25.000000
25%      27.250000
50%      28.500000
75%      29.750000
max      32.000000
Name: Temperature, dtype: float64

In [21]:
df[df.Temperature == df.Temperature.max()]

         Date  Temperature  Windspeed Condition
3  2024-01-04           32          7     Sunny

In [22]:
df[df.Condition == 'Sunny']

         Date  Temperature  Windspeed Condition
0  2024-01-01           30          6     Sunny
3  2024-01-04           32          7     Sunny

Operations Of Pandas

In [1]:
%pip install xlrd
%pip install openpyxl

Requirement already satisfied: xlrd in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: openpyxl in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
df = pd.read_excel("weather_data.xlsx")
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny